.App {
  text-align: center;
}

.PostDetails {
  text-align: center;
  margin: 10px 20%;
}

.PostCardAlign {
  padding-top: 5vh;
  display: grid;
  grid-gap: 20px;
  margin: 20px 8vh;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.UserCardAlign {
  display: grid;
  grid-gap: 45px;
  margin: 10px 10%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
