.App {
  text-align: center;
}

.PostDetails {
  text-align: center;
  margin: 10px 20%;
}

.PostCardAlign {
  padding-top: 5vh;
  display: grid;
  grid-gap: 4vw;
  margin: 10px 15vw;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.UserCardAlign {
  display: grid;
  grid-gap: 45px;
  margin: 10px 10%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
